In [1]:
# Imports
from src import data_cleaning, eda
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Create sample clinical trial data
np.random.seed(42)

data = {
    'patient_id': range(1, 101),
    'age': np.random.normal(55, 12, 100).astype(int),
    'treatment_group': np.random.choice(['Control', 'Treatment A', 'Treatment B'], 100),
    'outcome_score': np.random.normal(75, 15, 100)
}

df = pd.DataFrame(data)
print(f"Dataset shape: {df.shape}")
df.head()

Dataset shape: (100, 4)

   patient_id  age treatment_group  outcome_score
0           1   60         Control      83.503411
1           2   53     Treatment A      72.532493
2           3   62         Control      72.855136
3           4   73         Control      45.981447
4           5   52     Treatment B      77.259886